:host,
*,
*::after,
*::before {
  box-sizing: border-box;
}

:host {
  color: var(--ea-dark-color);
  font-family: var(--ea-theme-primary-font-family);
  font-size: var(--ea-theme-body-font-size-mobile);
  -webkit-font-smoothing: antialiased;
  line-height: var(--ea-theme-body-line-height-mobile);
}

:host([text-color="light"]) {
  color: var(--ea-light-color);
}

@media only screen and (min-width: 1024px) {
  :host {
    font-size: var(--ea-theme-body-font-size-tablet-landscape);
    line-height: var(--ea-theme-body-line-height-tablet-landscape);
  }
}

@media only screen and (min-width: 1456px) {
  :host {
    font-size: var(--ea-theme-body-font-size-desktop);
    line-height: var(--ea-theme-body-line-height-desktop);
  }
}

[hidden] {
  display: none !important;
}

:host {
  background-color: var(--ea-dark-color);
  display: block;
  min-height: 40px;
  position: fixed;
  top: 0;
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.5, 0.25, 0.015, 1);
  width: 100%;
  will-change: transform;
  z-index: var(--ea-network-nav-layer);
}

:host(.show-nav) {
  position: fixed;
  top: 0;
  transition-duration: 0.4s;
}

:host([visible="top"]) {
  position: absolute;
}

:host([visible="never"]) {
  display: none;
}

:host(.hide-nav) {
  transform: translate3d(0, -40px, 0);
}

:host(.closing),
:host(.no-transition) {
  transition: none;
}

:host::after {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  content: "";
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.5s cubic-bezier(0.5, 0.25, 0.015, 1);
  width: 100%;
  will-change: opacity;
  z-index: -1;
}

:host([open])::after {
  opacity: 1;
}

:host::before {
  opacity: 0;
  position: absolute;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.5s cubic-bezier(0.5, 0.25, 0.015, 1);
  will-change: opacity;
  z-index: -1;
}

:host([open])::before {
  background-color: rgba(0, 0, 0, 0.25);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
}

.eapl-network-nav__menu {
  display: flex;
  height: 40px;
  justify-content: flex-end;
  list-style: none;
  margin: 0 32px 0 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

:host([rtl]) .eapl-network-nav__menu {
  margin-left: 32px;
  margin-right: 0;
}

.eapl-network-nav__header {
  background: #393939;
}

.eapl-network-nav__menu-item {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  list-style: none;
  width: 40px;
}

.eapl-network-nav__menu-item:not(:first-child) {
  margin-left: 20px;
}

:host([rtl]) .eapl-network-nav__menu-item:not(:first-child) {
  margin-left: 0;
  margin-right: 20px;
}

.eapl-network-nav__menu-item:not(.current):not(:hover) {
  opacity: 0.7;
}

.eapl-network-nav__menu-item[link-ref="profile"] {
  padding: 8px;
}

.eapl-network-nav__menu-item svg {
  fill: var(--ea-light-color);
  height: 18px;
  width: 18px;
}

.eapl-network-nav__ea-logo a {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.eapl-network-nav__ea-logo iron-icon {
  color: #a3a3a3;
  height: 32px;
  pointer-events: none;
  width: 32px;
}

.eapl-network-nav__body {
  align-content: center;
  display: flex;
  height: 0;
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 0, 0);
  transition: height 0.5s cubic-bezier(0.5, 0.25, 0.015, 1);
  will-change: height;
}

:host([open]) .eapl-network-nav__body {
  height: 520px;
}

@media only screen and (min-width: 1456px) {
  :host([open]) .eapl-network-nav__body {
    height: 660px;
  }
}

.eapl-network-nav__section {
  align-items: center;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: all 0.5s cubic-bezier(0.5, 0.25, 0.015, 1);
  width: 100%;
  will-change: transform, opacity;
}

@media (max-width: 767px) {
  .eapl-network-nav__section[link-target="search"] ea-section {
    align-self: flex-start;
    margin-top: 80px;
  }
}

:host([open]) .eapl-network-nav__section:not(.current) {
  transform: translate3d(0, -200px, 0);
}

:host([open]) .eapl-network-nav__section.current {
  opacity: 1;
  pointer-events: auto;
}

.eapl-network-nav__close {
  color: #fff;
  cursor: pointer;
  height: 24px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 28px;
  text-align: center;
  top: 34px;
  width: 24px;
}

:host([open]) .eapl-network-nav__close {
  opacity: 1;
  pointer-events: auto;
}

.eapl-network-nav__close iron-icon {
  height: 13px;
  width: 13px;
}
