@font-face {
  font-family: LatoRegular;
  src: url("../assets/fonts/Lato-Regular.ttf");
}

body {
  font-family: LatoRegular;
  background-image: url("../assets/img/FondFifa19.jpg");
  background-size: cover;
}
