.fifaFooter {
  height: 56px;
  background: #252525;
  color: #fff;
  display: block;
  padding: 12px 22px 32px;
}

@media only screen and (min-width: 1024px) {
  .fifaFooter {
    padding: 12px 76px 12px;
  }
}

@media only screen and (min-width: 768px) {
  .fifaFooter {
    padding: 12px 60px 40px;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.localLinks,
.socialLinks {
  display: flex;
  flex-direction: column;
}
