.eaFooter {
  height: 56px;
  background: #f3f3f3;
  color: #000;
  display: block;
  padding: 40px 22px 30px;
}

@media only screen and (min-width: 1024px) {
  .eaFooter {
    padding: 3px 93px 40px;
  }
}

@media only screen and (min-width: 768px) {
  .eaFooter {
    padding: 22px 60px 40px;
  }
}
