:host,
*,
*::after,
*::before {
  box-sizing: border-box;
}

:host {
  color: var(--ea-dark-color);
  font-family: var(--ea-theme-primary-font-family);
  font-size: var(--ea-theme-body-font-size-mobile);
  -webkit-font-smoothing: antialiased;
  line-height: var(--ea-theme-body-line-height-mobile);
}

:host([text-color="light"]) {
  color: var(--ea-light-color);
}

@media only screen and (min-width: 1024px) {
  :host {
    font-size: var(--ea-theme-body-font-size-tablet-landscape);
    line-height: var(--ea-theme-body-line-height-tablet-landscape);
  }
}

@media only screen and (min-width: 1456px) {
  :host {
    font-size: var(--ea-theme-body-font-size-desktop);
    line-height: var(--ea-theme-body-line-height-desktop);
  }
}

[hidden] {
  display: none !important;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  transition: opacity var(--ea-interface-expansion);
}

:host([wf-loading]) h1,
:host([wf-loading]) .h1,
:host([wf-loading]) h2,
:host([wf-loading]) .h2,
:host([wf-loading]) h3,
:host([wf-loading]) .h3,
:host([wf-loading]) h4,
:host([wf-loading]) .h4,
:host([wf-loading]) h5,
:host([wf-loading]) .h5,
:host([wf-loading]) h6,
:host([wf-loading]) .h6 {
  opacity: 0;
}

.h1-light,
.h1-brand-light,
.h2-light,
.h2-brand-light,
.h3-light,
.h3-brand-light,
.h4-light,
.h4-brand-light,
.h5-light,
.h5-brand-light,
.h6-light,
.h6-brand-light {
  color: var(--ea-light-color);
}

h1,
.h1 {
  font-size: var(--ea-theme-h1-font-size-mobile);
  font-weight: var(--ea-theme-h1-font-weight);
  letter-spacing: var(--ea-theme-h1-letter-spacing-mobile);
  line-height: var(--ea-theme-h1-line-height-mobile);
}

h1 {
  margin: var(--ea-theme-h1-margin-mobile);
}

@media only screen and (min-width: 768px) {
  h1 {
    margin: var(--ea-theme-h1-margin-tablet-portrait);
  }
}

@media only screen and (min-width: 1024px) {
  h1,
  .h1 {
    font-size: var(--ea-theme-h1-font-size-tablet-landscape);
    letter-spacing: var(--ea-theme-h1-letter-spacing-tablet-landscape);
    line-height: var(--ea-theme-h1-line-height-tablet-landscape);
  }

  h1 {
    margin: var(--ea-theme-h1-margin-tablet-landscape);
  }
}

@media only screen and (min-width: 1456px) {
  h1,
  .h1 {
    font-size: var(--ea-theme-h1-font-size-desktop);
    letter-spacing: var(--ea-theme-h1-letter-spacing-desktop);
    line-height: var(--ea-theme-h1-line-height-desktop);
  }

  h1 {
    margin: var(--ea-theme-h1-margin-desktop);
  }
}

h2,
.h2 {
  font-size: var(--ea-theme-h2-font-size-mobile);
  font-weight: var(--ea-theme-h2-font-weight);
  letter-spacing: var(--ea-theme-h2-letter-spacing-mobile);
  line-height: var(--ea-theme-h2-line-height-mobile);
}

h2 {
  margin: var(--ea-theme-h2-margin-mobile);
}

.l2:not([hidden]) + .h2 {
  margin-top: var(--ea-theme-h2-after-l2-margin-top-mobile);
}

@media only screen and (min-width: 768px) {
  h2 {
    margin: var(--ea-theme-h2-margin-tablet-portrait);
  }
}

@media only screen and (min-width: 1024px) {
  h2,
  .h2 {
    font-size: var(--ea-theme-h2-font-size-tablet-landscape);
    letter-spacing: var(--ea-theme-h2-letter-spacing-tablet-landscape);
    line-height: var(--ea-theme-h2-line-height-tablet-landscape);
  }

  h2 {
    margin: var(--ea-theme-h2-margin-tablet-landscape);
  }

  .l2:not([hidden]) + .h2 {
    margin-top: var(--ea-theme-h2-after-l2-margin-top-tablet-landscape);
  }
}

@media only screen and (min-width: 1456px) {
  h2,
  .h2 {
    font-size: var(--ea-theme-h2-font-size-desktop);
    letter-spacing: var(--ea-theme-h2-letter-spacing-desktop);
    line-height: var(--ea-theme-h2-line-height-desktop);
  }

  h2 {
    margin: var(--ea-theme-h2-margin-desktop);
  }

  .l2:not([hidden]) + .h2 {
    margin-top: var(--ea-theme-h2-after-l2-margin-top-desktop);
  }
}

h3,
.h3 {
  font-size: var(--ea-theme-h3-font-size-mobile);
  font-weight: var(--ea-theme-h3-font-weight);
  letter-spacing: var(--ea-theme-h3-letter-spacing-mobile);
  line-height: var(--ea-theme-h3-line-height-mobile);
}

h3 {
  margin: var(--ea-theme-h3-margin-mobile);
}

@media only screen and (min-width: 768px) {
  h3 {
    margin: var(--ea-theme-h3-margin-tablet-portrait);
  }
}

@media only screen and (min-width: 1024px) {
  h3,
  .h3 {
    font-size: var(--ea-theme-h3-font-size-tablet-landscape);
    letter-spacing: var(--ea-theme-h3-letter-spacing-tablet-landscape);
    line-height: var(--ea-theme-h3-line-height-tablet-landscape);
  }

  h3 {
    margin: var(--ea-theme-h3-margin-tablet-landscape);
  }
}

@media only screen and (min-width: 1456px) {
  h3,
  .h3 {
    font-size: var(--ea-theme-h3-font-size-desktop);
    letter-spacing: var(--ea-theme-h3-letter-spacing-desktop);
    line-height: var(--ea-theme-h3-line-height-desktop);
  }

  h3 {
    margin: var(--ea-theme-h3-margin-desktop);
  }
}

h4,
.h4 {
  font-size: var(--ea-theme-h4-font-size-mobile);
  font-weight: var(--ea-theme-h4-font-weight);
  letter-spacing: var(--ea-theme-h4-letter-spacing-mobile);
  line-height: var(--ea-theme-h4-line-height-mobile);
}

h4 {
  margin: var(--ea-theme-h4-margin-mobile);
}

.d1:not([hidden]) + .h4 {
  margin-top: var(--ea-theme-h4-after-d1-margin-top-mobile);
}

.d2:not([hidden]) + .h4 {
  margin-top: var(--ea-theme-h4-after-d2-margin-top-mobile);
}

.d3:not([hidden]) + .h4 {
  margin-top: var(--ea-theme-h4-after-d3-margin-top-mobile);
}

.d4:not([hidden]) + .h4 {
  margin-top: var(--ea-theme-h4-after-d4-margin-top-mobile);
}

.l2:not([hidden]) + .h4 {
  margin-top: var(--ea-theme-h4-after-l2-margin-top-mobile);
}

img + dom-if + .h4,
img + dom-if + [hidden] + .h4 {
  margin-top: 26px;
}

@media only screen and (min-width: 768px) {
  .d1:not([hidden]) + .h4 {
    margin-top: var(--ea-theme-h4-after-d1-margin-top-tablet-portrait);
  }

  .d2:not([hidden]) + .h4 {
    margin-top: var(--ea-theme-h4-after-d2-margin-top-tablet-portrait);
  }

  .d3:not([hidden]) + .h4 {
    margin-top: var(--ea-theme-h4-after-d3-margin-top-tablet-portrait);
  }
}

@media only screen and (min-width: 768px) {
  h4 {
    margin: var(--ea-theme-h4-margin-tablet-portrait);
  }
}

@media only screen and (min-width: 1024px) {
  h4,
  .h4 {
    font-size: var(--ea-theme-h4-font-size-tablet-landscape);
    letter-spacing: var(--ea-theme-h4-letter-spacing-tablet-landscape);
    line-height: var(--ea-theme-h4-line-height-tablet-landscape);
  }

  h4 {
    margin: var(--ea-theme-h4-margin-tablet-landscape);
  }

  .d1:not([hidden]) + .h4 {
    margin-top: var(--ea-theme-h4-after-d1-margin-top-tablet-landscape);
  }

  .d2:not([hidden]) + .h4 {
    margin-top: var(--ea-theme-h4-after-d2-margin-top-tablet-landscape);
  }

  .d3:not([hidden]) + .h4 {
    margin-top: var(--ea-theme-h4-after-d3-margin-top-tablet-landscape);
  }

  .d4:not([hidden]) + .h4 {
    margin-top: var(--ea-theme-h4-after-d4-margin-top-tablet-landscape);
  }

  .l2:not([hidden]) + .h4 {
    margin-top: var(--ea-theme-h4-after-l2-margin-top-tablet-landscape);
  }

  img + dom-if + .h4,
  img + dom-if + [hidden] + .h4 {
    margin-top: 32px;
  }
}

@media only screen and (min-width: 1456px) {
  h4,
  .h4 {
    font-size: var(--ea-theme-h4-font-size-desktop);
    letter-spacing: var(--ea-theme-h4-letter-spacing-desktop);
    line-height: var(--ea-theme-h4-line-height-desktop);
  }

  h4 {
    margin: var(--ea-theme-h4-margin-desktop);
  }

  .d1:not([hidden]) + .h4 {
    margin-top: var(--ea-theme-h4-after-d1-margin-top-desktop);
  }

  .d3:not([hidden]) + .h4 {
    margin-top: var(--ea-theme-h4-after-d3-margin-top-desktop);
  }

  .d4:not([hidden]) + .h4 {
    margin-top: var(--ea-theme-h4-after-d4-margin-top-desktop);
  }

  .l2:not([hidden]) + .h4 {
    margin-top: var(--ea-theme-h4-after-l2-margin-top-desktop);
  }

  img + dom-if + .h4,
  img + dom-if + [hidden] + .h4 {
    margin-top: 40px;
  }
}

h5,
.h5 {
  font-size: var(--ea-theme-h5-font-size-mobile);
  font-weight: var(--ea-theme-h5-font-weight);
  letter-spacing: var(--ea-theme-h5-letter-spacing-mobile);
  line-height: var(--ea-theme-h5-line-height-mobile);
}

h5 {
  margin: var(--ea-theme-h5-margin-mobile);
}

.l2:not([hidden]) + .h5 {
  margin-top: var(--ea-theme-h5-after-l2-margin-top-mobile);
}

@media only screen and (min-width: 768px) {
  h5 {
    margin: var(--ea-theme-h5-margin-tablet-portrait);
  }
}

@media only screen and (min-width: 1024px) {
  h5,
  .h5 {
    font-size: var(--ea-theme-h5-font-size-tablet-landscape);
    letter-spacing: var(--ea-theme-h5-letter-spacing-tablet-landscape);
    line-height: var(--ea-theme-h5-line-height-tablet-landscape);
  }

  h5 {
    margin: var(--ea-theme-h5-margin-tablet-landscape);
  }

  .l2:not([hidden]) + .h5 {
    margin-top: var(--ea-theme-h5-after-l2-margin-top-tablet-landscape);
  }
}

@media only screen and (min-width: 1456px) {
  h5,
  .h5 {
    font-size: var(--ea-theme-h5-font-size-desktop);
    letter-spacing: var(--ea-theme-h5-letter-spacing-desktop);
    line-height: var(--ea-theme-h5-line-height-desktop);
  }

  h5 {
    margin: var(--ea-theme-h5-margin-desktop);
  }

  .l2:not([hidden]) + .h5 {
    margin-top: var(--ea-theme-h5-after-l2-margin-top-desktop);
  }
}

h6,
.h6 {
  font-size: var(--ea-theme-h6-font-size-mobile);
  font-weight: var(--ea-theme-h6-font-weight);
  letter-spacing: var(--ea-theme-h6-letter-spacing-mobile);
  line-height: var(--ea-theme-h6-line-height-mobile);
}

h6 {
  margin: var(--ea-theme-h6-margin-mobile);
}

.d3:not([hidden]) + .h6 {
  margin-top: var(--ea-theme-h6-after-d3-margin-top-mobile);
}

.l2:not([hidden]) + .h6 {
  margin-top: var(--ea-theme-h6-after-l2-margin-top-mobile);
}

@media only screen and (min-width: 768px) {
  h6 {
    margin: var(--ea-theme-h6-margin-tablet-portrait);
  }
}

@media only screen and (min-width: 1024px) {
  h6 {
    margin: var(--ea-theme-h6-margin-tablet-landscape);
  }

  .d3:not([hidden]) + .h6 {
    margin-top: var(--ea-theme-h6-after-d3-margin-top-tablet-landscape);
  }
}

@media only screen and (min-width: 1456px) {
  h6,
  .h6 {
    font-size: var(--ea-theme-h6-font-size-desktop);
    letter-spacing: var(--ea-theme-h6-letter-spacing-desktop);
    line-height: var(--ea-theme-h6-line-height-desktop);
  }

  h6 {
    margin: var(--ea-theme-h6-margin-desktop);
  }

  .d3:not([hidden]) + .h6 {
    margin-top: var(--ea-theme-h6-after-d3-margin-top-desktop);
  }
}

ol,
ul {
  list-style-type: none;
  padding-left: var(--ea-theme-ol-and-ul-padding-left-mobile);
}

html[dir="rtl"] ol,
html[dir="rtl"] ul {
  padding-left: 0;
  padding-right: var(--ea-theme-ol-and-ul-padding-left-mobile);
}

ol ol,
ol ul,
ul ol,
ul ul {
  padding-left: var(--ea-theme-nested-ol-and-ul-padding-left-mobile);
}

@media only screen and (min-width: 1024px) {
  ol ol,
  ol ul,
  ul ol,
  ul ul {
    padding-left: var(
      --ea-theme-nested-ol-and-ul-padding-left-tablet-landscape
    );
  }

  html[dir="rtl"] ol ol,
  html[dir="rtl"] ol ul,
  html[dir="rtl"] ul ol,
  html[dir="rtl"] ul ul {
    padding-left: 0;
    padding-right: var(
      --ea-theme-nested-ol-and-ul-padding-left-tablet-landscape
    );
  }
}

li {
  margin: var(--ea-theme-li-margin-mobile);
  padding-left: 15px;
}

html[dir="rtl"] li {
  padding-left: 0;
  padding-right: 15px;
}

li::before {
  color: var(--ea-theme-color);
  margin-left: -15px;
  margin-right: var(--ea-theme-ul-li-bullet-margin-right-mobile);
}

html[dir="rtl"] li::before {
  margin-left: var(--ea-theme-ul-li-bullet-margin-right-mobile);
  margin-right: -15px;
}

@media only screen and (min-width: 1024px) {
  li {
    margin: var(--ea-theme-li-margin-tablet-landscape);
    padding-left: 25px;
  }

  html[dir="rtl"] li {
    padding-left: 0;
    padding-right: 25px;
  }

  li::before {
    margin-left: -25px;
    margin-right: var(--ea-theme-ul-li-bullet-margin-right-tablet-landscape);
  }

  html[dir="rtl"] li::before {
    margin-left: var(--ea-theme-ul-li-bullet-margin-right-tablet-landscape);
    margin-right: -25px;
  }
}

ol {
  counter-reset: step-counter;
}

ol li {
  counter-increment: step-counter;
}

ol li::before {
  content: counter(step-counter) ". ";
  display: inline-block;
}

ul li::before {
  content: var(--ea-theme-ul-li-bullet-character);
}

a,
a:hover {
  color: var(--ea-theme-color);
  text-decoration: none;
  transition: var(--ea-interface-expansion);
}

:host([wf-loading]) a {
  opacity: 0;
}

.h4:not([hidden]) + img,
.h6:not([hidden]) + img {
  margin-top: 26px;
}

@media only screen and (min-width: 768px) {
  .h4:not([hidden]) + img,
  .h6:not([hidden]) + img {
    margin-top: 28px;
  }
}

@media only screen and (min-width: 1024px) {
  .h4:not([hidden]) + img,
  .h6:not([hidden]) + img {
    margin-top: 36px;
  }
}

@media only screen and (min-width: 1456px) {
  .h4:not([hidden]) + img,
  .h6:not([hidden]) + img {
    margin-top: 43px;
  }
}

.d1,
.d2,
.d3,
.d4 {
  font-family: var(--ea-theme-typographic-headings-font-family);
  text-transform: uppercase;
  transition: opacity var(--ea-interface-expansion);
}

:host([wf-loading]) .d1,
:host([wf-loading]) .d2,
:host([wf-loading]) .d3,
:host([wf-loading]) .d4 {
  opacity: 0;
}

.d1-light,
.d2-light,
.d2-brand-light,
.d3-light,
.d3-brand-light,
.d4-light,
.d4-brand-light {
  color: var(--ea-light-color);
}

.d1 {
  font-size: var(--ea-theme-d1-font-size-mobile);
  font-style: var(--ea-theme-d1-font-style);
  font-weight: var(--ea-theme-d1-font-weight);
  letter-spacing: var(--ea-theme-d1-letter-spacing-mobile);
  line-height: var(--ea-theme-d1-line-height-mobile);
}

:host([text-color*="brand"]) .d1 {
  color: var(--ea-theme-color);
}

.h4:not([hidden]) + .d1,
.h4:not([hidden]) + dom-if + .d1 {
  margin-top: var(--ea-theme-d1-after-h4-margin-top-mobile);
}

.l2:not([hidden]) + .d1 {
  margin-top: var(--ea-theme-d1-after-l2-margin-top-mobile);
}

img + dom-if + .d1 {
  margin-top: 23px;
}

@media only screen and (min-width: 768px) {
  .d1 {
    font-size: var(--ea-theme-d1-font-size-tablet-portrait);
    letter-spacing: var(--ea-theme-d1-letter-spacing-tablet-portrait);
    line-height: var(--ea-theme-d1-line-height-tablet-portrait);
  }

  .h4:not([hidden]) + .d1,
  .h4:not([hidden]) + dom-if + .d1 {
    margin-top: var(--ea-theme-d1-after-h4-margin-top-tablet-portrait);
  }

  .l2:not([hidden]) + .d1 {
    margin-top: var(--ea-theme-d1-after-l2-margin-top-tablet-portrait);
  }
}

@media only screen and (min-width: 1024px) {
  .d1 {
    font-size: var(--ea-theme-d1-font-size-tablet-landscape);
    letter-spacing: var(--ea-theme-d1-letter-spacing-tablet-landscape);
    line-height: var(--ea-theme-d1-line-height-tablet-landscape);
  }

  .l2:not([hidden]) + .d1 {
    margin-top: var(--ea-theme-d1-after-l2-margin-top-tablet-landscape);
  }

  img + dom-if + .d1 {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 1456px) {
  .d1 {
    font-size: var(--ea-theme-d1-font-size-desktop);
    letter-spacing: var(--ea-theme-d1-letter-spacing-desktop);
    line-height: var(--ea-theme-d1-line-height-desktop);
  }

  .h4:not([hidden]) + .d1,
  .h4:not([hidden]) + dom-if + .d1 {
    margin-top: var(--ea-theme-d1-after-h4-margin-top-desktop);
  }

  .l2:not([hidden]) + .d1 {
    margin-top: var(--ea-theme-d1-after-l2-margin-top-desktop);
  }

  img + dom-if + .d1 {
    margin-top: 53px;
  }
}

.d2 {
  font-size: var(--ea-theme-d2-font-size-mobile);
  font-style: var(--ea-theme-d2-font-style);
  font-weight: var(--ea-theme-d2-font-weight);
  letter-spacing: var(--ea-theme-d2-letter-spacing-mobile);
  line-height: var(--ea-theme-d2-line-height-mobile);
}

.h4:not([hidden]) + .d2,
.h4:not([hidden]) + dom-if + .d2 {
  margin-top: var(--ea-theme-d2-after-h4-margin-top-mobile);
}

.l2:not([hidden]) + .d2 {
  margin-top: var(--ea-theme-d2-after-l2-margin-top-mobile);
}

img + dom-if + .d2 {
  margin-top: 23px;
}

@media only screen and (min-width: 768px) {
  .d2 {
    font-size: var(--ea-theme-d2-font-size-tablet-portrait);
    letter-spacing: var(--ea-theme-d2-letter-spacing-tablet-portrait);
    line-height: var(--ea-theme-d2-line-height-tablet-portrait);
  }
}

@media only screen and (min-width: 1024px) {
  .d2 {
    font-size: var(--ea-theme-d2-font-size-tablet-landscape);
    letter-spacing: var(--ea-theme-d2-letter-spacing-tablet-landscape);
    line-height: var(--ea-theme-d2-line-height-tablet-landscape);
  }

  .h4:not([hidden]) + .d2,
  .h4:not([hidden]) + dom-if + .d2 {
    margin-top: var(--ea-theme-d2-after-h4-margin-top-tablet-landscape);
  }

  .l2:not([hidden]) + .d2 {
    margin-top: var(--ea-theme-d2-after-l2-margin-top-tablet-landscape);
  }

  img + dom-if + .d2 {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 1456px) {
  .d2 {
    font-size: var(--ea-theme-d2-font-size-desktop);
    letter-spacing: var(--ea-theme-d2-letter-spacing-desktop);
    line-height: var(--ea-theme-d2-line-height-desktop);
  }

  .h4:not([hidden]) + .d2,
  .h4:not([hidden]) + dom-if + .d2 {
    margin-top: var(--ea-theme-d2-after-h4-margin-top-desktop);
  }

  .l2:not([hidden]) + .d2 {
    margin-top: var(--ea-theme-d2-after-l2-margin-top-desktop);
  }

  img + dom-if + .d2 {
    margin-top: 53px;
  }
}

.d3 {
  font-size: var(--ea-theme-d3-font-size-mobile);
  font-style: var(--ea-theme-d3-font-style);
  font-weight: var(--ea-theme-d3-font-weight);
  letter-spacing: var(--ea-theme-d3-letter-spacing-mobile);
  line-height: var(--ea-theme-d3-line-height-mobile);
}

.h4:not([hidden]) + .d3,
.h4:not([hidden]) + dom-if + .d3 {
  margin-top: var(--ea-theme-d3-after-h4-margin-top-mobile);
}

.h6:not([hidden]) + .d3,
.h6:not([hidden]) + dom-if + .d3 {
  margin-top: var(--ea-theme-d3-after-h6-margin-top-mobile);
}

.l2:not([hidden]) + .d3 {
  margin-top: var(--ea-theme-d3-after-l2-margin-top-mobile);
}

img + dom-if + .d3 {
  margin-top: 23px;
}

@media only screen and (min-width: 768px) {
  .d3 {
    font-size: var(--ea-theme-d3-font-size-tablet-portrait);
    letter-spacing: var(--ea-theme-d3-letter-spacing-tablet-portrait);
    line-height: var(--ea-theme-d3-line-height-tablet-portrait);
  }
}

@media only screen and (min-width: 1024px) {
  .d3 {
    font-size: var(--ea-theme-d3-font-size-tablet-landscape);
    letter-spacing: var(--ea-theme-d3-letter-spacing-tablet-landscape);
    line-height: var(--ea-theme-d3-line-height-tablet-landscape);
  }

  .h4:not([hidden]) + .d3,
  .h4:not([hidden]) + dom-if + .d3 {
    margin-top: var(--ea-theme-d3-after-h4-margin-top-tablet-landscape);
  }

  .h6:not([hidden]) + .d3,
  .h6:not([hidden]) + dom-if + .d3 {
    margin-top: var(--ea-theme-d3-after-h6-margin-top-tablet-landscape);
  }

  .l2:not([hidden]) + .d3 {
    margin-top: var(--ea-theme-d3-after-l2-margin-top-tablet-landscape);
  }

  img + dom-if + .d3 {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 1456px) {
  .d3 {
    font-size: var(--ea-theme-d3-font-size-desktop);
    letter-spacing: var(--ea-theme-d3-letter-spacing-desktop);
    line-height: var(--ea-theme-d3-line-height-desktop);
  }

  .h4:not([hidden]) + .d3,
  .h4:not([hidden]) + dom-if + .d3 {
    margin-top: var(--ea-theme-d3-after-h4-margin-top-desktop);
  }

  .h6:not([hidden]) + .d3,
  .h6:not([hidden]) + dom-if + .d3 {
    margin-top: var(--ea-theme-d3-after-h6-margin-top-desktop);
  }

  .l2:not([hidden]) + .d3 {
    margin-top: var(--ea-theme-d3-after-l2-margin-top-desktop);
  }

  img + dom-if + .d3 {
    margin-top: 53px;
  }
}

.d4 {
  font-size: var(--ea-theme-d4-font-size-mobile);
  font-style: var(--ea-theme-d4-font-style);
  font-weight: var(--ea-theme-d4-font-weight);
  letter-spacing: var(--ea-theme-d4-letter-spacing-mobile);
  line-height: var(--ea-theme-d4-line-height-mobile);
}

.h4:not([hidden]) + .d4,
.h4:not([hidden]) + dom-if + .d4 {
  margin-top: var(--ea-theme-d4-after-h4-margin-top-mobile);
}

.l2:not([hidden]) + .d4 {
  margin-top: var(--ea-theme-d4-after-l2-margin-top-mobile);
}

img + dom-if + .d4 {
  margin-top: 23px;
}

@media only screen and (min-width: 1024px) {
  .d4 {
    font-size: var(--ea-theme-d4-font-size-tablet-landscape);
    letter-spacing: var(--ea-theme-d4-letter-spacing-tablet-landscape);
    line-height: var(--ea-theme-d4-line-height-tablet-landscape);
  }

  .h4:not([hidden]) + .d4,
  .h4:not([hidden]) + dom-if + .d4 {
    margin-top: var(--ea-theme-d4-after-h4-margin-top-tablet-portrait);
  }

  .l2:not([hidden]) + .d4 {
    margin-top: var(--ea-theme-d4-after-l2-margin-top-tablet-landscape);
  }

  img + dom-if + .d4 {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 1456px) {
  .d4 {
    font-size: var(--ea-theme-d4-font-size-desktop);
    letter-spacing: var(--ea-theme-d4-letter-spacing-desktop);
    line-height: var(--ea-theme-d4-line-height-desktop);
  }

  .h4:not([hidden]) + .d4,
  .h4:not([hidden]) + dom-if + .d4 {
    margin-top: var(--ea-theme-d4-after-h4-margin-top-desktop);
  }

  .l2:not([hidden]) + .d4 {
    margin-top: var(--ea-theme-d4-after-l2-margin-top-desktop);
  }

  img + dom-if + .d4 {
    margin-top: 53px;
  }
}

.b1,
.b2,
.b3 {
  transition: var(--ea-interface-expansion);
}

:host([wf-loading]) .b1,
:host([wf-loading]) .b2,
:host([wf-loading]) .b3 {
  opacity: 0;
}

.b1-light,
.b1-brand-light,
.b2-light,
.b2-brand-light,
.b3-light,
.b3-brand-light {
  color: var(--ea-light-color);
}

.b1 {
  font-size: var(--ea-theme-b1-font-size-mobile);
  letter-spacing: var(--ea-theme-b1-letter-spacing-mobile);
  line-height: var(--ea-theme-b1-line-height-mobile);
  margin: var(--ea-theme-b1-margin-mobile);
}

@media only screen and (min-width: 768px) {
  .b1 {
    font-size: var(--ea-theme-b1-font-size-tablet-portrait);
    letter-spacing: var(--ea-theme-b1-letter-spacing-tablet-portrait);
    line-height: var(--ea-theme-b1-line-height-tablet-portrait);
    margin: var(--ea-theme-b1-margin-tablet-portrait);
  }
}

@media only screen and (min-width: 1024px) {
  .b1 {
    font-size: var(--ea-theme-b1-font-size-tablet-landscape);
    letter-spacing: var(--ea-theme-b1-letter-spacing-tablet-landscape);
    line-height: var(--ea-theme-b1-line-height-tablet-landscape);
    margin: var(--ea-theme-b1-margin-tablet-landscape);
  }
}

@media only screen and (min-width: 1456px) {
  .b1 {
    font-size: var(--ea-theme-b1-font-size-desktop);
    letter-spacing: var(--ea-theme-b1-letter-spacing-desktop);
    line-height: var(--ea-theme-b1-line-height-desktop);
    margin: var(--ea-theme-b1-margin-desktop);
  }
}

.b2 {
  font-size: var(--ea-theme-b2-font-size-mobile);
  letter-spacing: var(--ea-theme-b2-letter-spacing-mobile);
  line-height: var(--ea-theme-b2-line-height-mobile);
  margin: var(--ea-theme-b2-margin-mobile);
}

.d1:not([hidden]) + .b2,
.d1:not([hidden]) + [hidden] + .b2 {
  margin-top: var(--ea-theme-b2-after-d1-margin-top-mobile);
}

.d2:not([hidden]) + .b2,
.d2:not([hidden]) + [hidden] + .b2 {
  margin-top: var(--ea-theme-b2-after-d2-margin-top-mobile);
}

.d3:not([hidden]) + .b2,
.d3:not([hidden]) + [hidden] + .b2 {
  margin-top: var(--ea-theme-b2-after-d3-margin-top-mobile);
}

.d4:not([hidden]) + .b2,
.d4:not([hidden]) + [hidden] + .b2 {
  margin-top: var(--ea-theme-b2-after-d4-margin-top-mobile);
}

.h2:not([hidden]) + .b2 {
  margin-top: var(--ea-theme-b2-after-h2-margin-top-mobile);
}

.h4:not([hidden]) + .b2 {
  margin-top: var(--ea-theme-b2-after-h4-margin-top-mobile);
}

.h5:not([hidden]) + .b2,
.h5:not([hidden]) + [hidden] + .b2 {
  margin-top: var(--ea-theme-b2-after-h5-margin-top-mobile);
}

.h6:not([hidden]) + .b2,
.h6:not([hidden]) + [hidden] + .b2 {
  margin-top: var(--ea-theme-b2-after-h6-margin-top-mobile);
}

.b2:not([hidden]) + .b2 {
  margin-top: var(--ea-theme-b2-after-b2-margin-top-mobile);
}

.b3:not([hidden]) + .b2 {
  margin-top: var(--ea-theme-b2-after-b3-margin-top-mobile);
}

.l2:not([hidden]) + .b2,
.l2:not([hidden]) + [hidden] + .b2 {
  margin-top: var(--ea-theme-b2-after-l2-margin-top-mobile);
}

@media only screen and (min-width: 768px) {
  .b2 {
    font-size: var(--ea-theme-b2-font-size-tablet-portrait);
    letter-spacing: var(--ea-theme-b2-letter-spacing-tablet-portrait);
    line-height: var(--ea-theme-b2-line-height-tablet-portrait);
    margin: var(--ea-theme-b2-margin-tablet-portrait);
  }

  .d1:not([hidden]) + .b2,
  .d1:not([hidden]) + [hidden] + .b2 {
    margin-top: var(--ea-theme-b2-after-d1-margin-top-tablet-portrait);
  }

  .d2:not([hidden]) + .b2,
  .d2:not([hidden]) + [hidden] + .b2 {
    margin-top: var(--ea-theme-b2-after-d2-margin-top-tablet-portrait);
  }

  .d3:not([hidden]) + .b2,
  .d3:not([hidden]) + [hidden] + .b2 {
    margin-top: var(--ea-theme-b2-after-d3-margin-top-tablet-portrait);
  }
}

@media only screen and (min-width: 1024px) {
  .b2 {
    font-size: var(--ea-theme-b2-font-size-tablet-landscape);
    letter-spacing: var(--ea-theme-b2-letter-spacing-tablet-landscape);
    line-height: var(--ea-theme-b2-line-height-tablet-landscape);
    margin: var(--ea-theme-b2-margin-tablet-landscape);
  }

  .d1:not([hidden]) + .b2,
  .d1:not([hidden]) + [hidden] + .b2 {
    margin-top: var(--ea-theme-b2-after-d1-margin-top-tablet-landscape);
  }

  .d4:not([hidden]) + .b2,
  .d4:not([hidden]) + [hidden] + .b2 {
    margin-top: var(--ea-theme-b2-after-d4-margin-top-tablet-landscape);
  }

  .h2:not([hidden]) + .b2 {
    margin-top: var(--ea-theme-b2-after-h2-margin-top-tablet-landscape);
  }

  .h4:not([hidden]) + .b2 {
    margin-top: var(--ea-theme-b2-after-h4-margin-top-tablet-landscape);
  }

  .h5:not([hidden]) + .b2,
  .h5:not([hidden]) + [hidden] + .b2 {
    margin-top: var(--ea-theme-b2-after-h5-margin-top-tablet-landscape);
  }

  .l2:not([hidden]) + .b2,
  .l2:not([hidden]) + [hidden] + .b2 {
    margin-top: var(--ea-theme-b2-after-l2-margin-top-tablet-landscape);
  }
}

@media only screen and (min-width: 1456px) {
  .b2 {
    font-size: var(--ea-theme-b2-font-size-desktop);
    letter-spacing: var(--ea-theme-b2-letter-spacing-desktop);
    line-height: var(--ea-theme-b2-line-height-desktop);
  }

  .d1:not([hidden]) + .b2,
  .d1:not([hidden]) + [hidden] + .b2 {
    margin-top: var(--ea-theme-b2-after-d1-margin-top-desktop);
  }

  .d2:not([hidden]) + .b2,
  .d2:not([hidden]) + [hidden] + .b2 {
    margin-top: var(--ea-theme-b2-after-d2-margin-top-desktop);
  }

  .d3:not([hidden]) + .b2,
  .d3:not([hidden]) + [hidden] + .b2 {
    margin-top: var(--ea-theme-b2-after-d3-margin-top-desktop);
  }

  .d4:not([hidden]) + .b2,
  .d4:not([hidden]) + [hidden] + .b2 {
    margin-top: var(--ea-theme-b2-after-d4-margin-top-desktop);
  }

  .h2:not([hidden]) + .b2 {
    margin-top: var(--ea-theme-b2-after-h2-margin-top-desktop);
  }

  .h4:not([hidden]) + .b2 {
    margin-top: var(--ea-theme-b2-after-h4-margin-top-desktop);
  }

  .h5:not([hidden]) + .b2,
  .h5:not([hidden]) + [hidden] + .b2 {
    margin-top: var(--ea-theme-b2-after-h5-margin-top-desktop);
  }

  .h6:not([hidden]) + .b2,
  .h6:not([hidden]) + [hidden] + .b2 {
    margin-top: var(--ea-theme-b2-after-h6-margin-top-desktop);
  }

  .b2:not([hidden]) + .b2 {
    margin-top: var(--ea-theme-b2-after-b2-margin-top-desktop);
  }

  .b3:not([hidden]) + .b2 {
    margin-top: var(--ea-theme-b2-after-b3-margin-top-desktop);
  }

  .l2:not([hidden]) + .b2,
  .l2:not([hidden]) + [hidden] + .b2 {
    margin-top: var(--ea-theme-b2-after-l2-margin-top-desktop);
  }
}

.b3 {
  font-size: var(--ea-theme-b3-font-size-mobile);
  letter-spacing: var(--ea-theme-b3-letter-spacing-mobile);
  line-height: var(--ea-theme-b3-line-height-mobile);
  margin: var(--ea-theme-b3-margin-mobile);
}

.d4:not([hidden]) + .b3 {
  margin-top: var(--ea-theme-b3-after-d4-margin-top-mobile);
}

.h5:not([hidden]) + .b3 {
  margin-top: var(--ea-theme-b3-after-h5-margin-top-mobile);
}

.h6:not([hidden]) + .b3 {
  margin-top: var(--ea-theme-b3-after-h6-margin-top-mobile);
}

.b2:not([hidden]) + .b3 {
  margin-top: var(--ea-theme-b3-after-b2-margin-top-mobile);
}

@media only screen and (min-width: 768px) {
  .b3 {
    letter-spacing: var(--ea-theme-b3-letter-spacing-tablet-portrait);
  }
}

@media only screen and (min-width: 1024px) {
  .h5:not([hidden]) + .b3 {
    margin-top: var(--ea-theme-b3-after-h5-margin-top-tablet-landscape);
  }

  .b2:not([hidden]) + .b3 {
    margin-top: var(--ea-theme-b3-after-b2-margin-top-tablet-landscape);
  }
}

@media only screen and (min-width: 1456px) {
  .b3 {
    font-size: var(--ea-theme-b3-font-size-desktop);
    letter-spacing: var(--ea-theme-b3-letter-spacing-tablet-portrait);
    line-height: var(--ea-theme-b3-line-height-desktop);
    margin: var(--ea-theme-b3-margin-desktop);
  }

  .d4:not([hidden]) + .b3 {
    margin-top: var(--ea-theme-b3-after-d4-margin-top-desktop);
  }

  .h5:not([hidden]) + .b3 {
    margin-top: var(--ea-theme-b3-after-h5-margin-top-desktop);
  }

  .h6:not([hidden]) + .b3 {
    margin-top: var(--ea-theme-b3-after-h6-margin-top-desktop);
  }

  .b2:not([hidden]) + .b3 {
    margin-top: var(--ea-theme-b3-after-b2-margin-top-desktop);
  }
}

.l1,
.l2 {
  font-family: var(--ea-theme-secondary-font-family);
  transition: opacity var(--ea-interface-expansion);
}

:host([wf-loading]) .l1,
:host([wf-loading]) .l2 {
  opacity: 0;
}

.l1-light,
.l1-brand-light,
.l2-light,
.l2-brand-light {
  color: var(--ea-light-color);
}

.l1 {
  font-size: var(--ea-theme-l1-font-size-mobile);
  font-weight: var(--ea-theme-l2-font-weight);
  letter-spacing: var(--ea-theme-l1-letter-spacing);
  line-height: var(--ea-theme-l1-line-height-mobile);
  margin: var(--ea-theme-l1-margin-mobile);
  text-transform: uppercase;
}

@media only screen and (min-width: 1024px) {
  .l1 {
    font-size: var(--ea-theme-l1-font-size-tablet-landscape);
    line-height: var(--ea-theme-l1-line-height-tablet-landscape);
    margin: var(--ea-theme-l1-margin-tablet-landscape);
  }
}

@media only screen and (min-width: 1456px) {
  .l1 {
    font-size: var(--ea-theme-l1-font-size-desktop);
    line-height: var(--ea-theme-l1-line-height-desktop);
    margin: var(--ea-theme-l1-margin-desktop);
  }
}

.l2 {
  font-size: var(--ea-theme-l2-font-size-mobile);
  font-weight: var(--ea-theme-l2-font-weight);
  line-height: var(--ea-theme-l2-line-height-mobile);
  margin: var(--ea-theme-l2-margin-mobile);
  text-transform: uppercase;
}

@media only screen and (min-width: 1024px) {
  .l2 {
    font-size: var(--ea-theme-l2-font-size-tablet-landscape);
    line-height: var(--ea-theme-l2-line-height-tablet-landscape);
    margin: var(--ea-theme-l2-margin-tablet-landscape);
  }
}

@media only screen and (min-width: 1456px) {
  .l2 {
    font-size: var(--ea-theme-l2-font-size-desktop);
    line-height: var(--ea-theme-l2-line-height-desktop);
    margin: var(--ea-theme-l2-margin-desktop);
  }
}

html {
  --ea-theme-d2-font-size-desktop: 60px;

  --ea-theme-d2-line-height-desktop: 60px;

  --ea-theme-d2-font-size-tablet-landscape: 60px;

  --ea-theme-d2-line-height-tablet-landscape: 60px;

  --ea-theme-d2-font-size-tablet-portrait: 44px;

  --ea-theme-d2-line-height-tablet-portrait: 44px;

  --ea-theme-d2-font-size-mobile: 44px;

  mobiled: 44px;

  --ea-theme-primary-font-family: open-sans;

  --ea-theme-secondary-font-family: din-condensed;

  --ea-theme-color: #fafa20;

  --ea-theme-dark-gradient: #fafa20;

  --ea-theme-light-gradient: #fafa20;

  --ea-theme-body-font-size-desktop: 16px;

  --ea-theme-body-font-size-tablet-landscape: 16px;

  --ea-theme-d2-font-weight: 400;

  --ea-theme-d3-font-weight: 400;

  --ea-theme-d3-font-size-mobile: 40px;

  --ea-theme-d3-font-size-tablet-landscape: 44px;

  --ea-theme-d3-font-size-desktop: 48px;

  --ea-theme-d3-line-height-mobile: 42px;

  --ea-theme-d3-line-height-tablet-landscape: 46px;

  --ea-theme-d3-line-height-desktop: 50px;

  --ea-theme-d4-font-weight: 400;

  --ea-theme-h4-font-size-mobile: 16px;

  --ea-theme-h4-font-size-tablet-landscape: 18px;

  --ea-theme-h4-font-size-desktop: 20px;

  --ea-theme-h4-line-height-desktop: 28px;

  --ea-theme-h4-line-height-tablet-landscape: 26px;

  --ea-theme-h4-line-height-mobile: 24px;

  --ea-theme-tabs-background-color: #212121;

  --ea-theme-tabs-accent-elements: #f1f1f1;

  --ea-theme-tabs-indicator-color: #fafa20;
}
