.fifaHeader {
  height: 56px;
  background: #000000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
}

.options {
  display: flex;
  max-width: 150px;
  min-width: 150px;
  justify-content: space-between;
}
