@import "../../../common-ui/vars.scss";

.conditions {
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  font-size: 14px;
  padding-bottom: 15px;
  font-family: DINProLight;
}

.error {
  font-size: 14px;
  height: 20px;
  color: white;
  opacity: 0.75;
  padding-bottom: 5px;
  font-family: DINProLight;
}

.stepIcon {
  margin: auto;
  display: flex;
  padding: 10px 0;
  margin-top: 15px;
}

.attention {
  margin-right: 5px;
}

.text {
  color: white;
  font-size: 14px;
  font-family: DINProLight;
  margin: 15px 0 10px 0;
  text-align: center;
  opacity: 0.8;
}
