@import "../../../common-ui/vars.scss";

.conditions {
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  font-size: 14px;
  padding-bottom: 15px;
}

.error {
  font-size: 14px;
  height: 20px;
  color: white;
  opacity: 0.5;
  padding-bottom: 5px;
}

.stepIcon {
  margin: auto;
  display: flex;
  padding: 10px 0;
}

.attention {
  margin-right: 5px;
}
