@import "../../common-ui/vars.scss";

.sliderContainer {
  margin: 10px 0;
  font-size: 14px;
  font-family: DINProLight;
}

.sliderInput {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  color: white;
}

.description {
  color: white;
}

.value {
  color: white;
  width: 10%;
  text-align: right;
}

.slider {
  width: 90%;
}

/* Slider */

/* Webkit */
.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 12px;
  border-radius: 10px;
  outline: none;
  opacity: 0.9;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f0e85f;
  cursor: pointer;
}

/* Firefox */
.slider::-moz-range-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f0e85f;
  cursor: pointer;
}

.slider::-moz-range-progress {
  -webkit-appearance: none;
  background-color: $secondary;
  height: 12px;
}

.slider::-moz-range-track {
  background-color: blue;
}

/* IE */
.slider::-ms-track {
  width: 100%;
  border-radius: 5px;
}

.slider::-ms-thumb {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #f0e85f;
  cursor: pointer;
}

.slider::-ms-fill-lower {
  background-color: $secondary;
}

.slider::-ms-fill-upper {
  background: blue;
}
