@import "../../../common-ui/vars.scss";

.home {
  background-image: linear-gradient(to top, #dd5157, #dc4870);
  border-radius: 4px;
  padding: 20px 150px;
  margin: 50px 0;
  @media only screen and (max-width: 1200px) {
    & {
      padding: 20px 50px;
    }
  }
  @media only screen and (max-width: 800px) {
    & {
      padding: 20px 20px;
    }
  }
}
