.step3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playerCards {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  margin-top: 50px;
}

.leftPlayerCard {
  height: 250px;
  opacity: 0.5;
  margin-right: -100px;
}

.rightPlayerCard {
  height: 250px;
  opacity: 0.5;
  margin-left: -100px;
}

.centerPlayerCard {
  height: 350px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  color: white;
  padding-top: 20px;
}

.subTitle {
  font-size: 14px;
  opacity: 0.8;
  color: white;
}

.sharingButtonsInactive {
  opacity: 0;
  transition-duration: 0.3s;
  pointer-events: none;
}

.sharingButtonsActive {
  opacity: 1;
  transition-duration: 0.3s;
}

.button {
  margin: 10px 0;
  width: 100%;
}
