.players {
  width: 50%;
}

.content {
  position: relative;
  top: -30px;
  width: 80%;
  margin: auto;
}

.title {
  font-size: 25px;
  color: white;
}

.conditions {
  font-size: 14px;
  color: white;
  display: flex;
  align-items: end;
  font-family: DINProLight;
  padding-bottom: 15px;
}
