@import "../../common-ui/vars.scss";

.button {
  height: 40px;
  width: 100%;
  background: $secondary;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary;
  font-size: 20px;
  font-weight: bold;
  transition-duration: 0.3s;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

.disabled {
  opacity: 0.5 !important;
  &:hover {
    pointer-events: none;
  }
}

.yellow {
  background: #f0e85f;
}
