.button {
  height: 40px;
  width: 100px;
  background: #f93b78;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}
