.error {
  color: white;
  opacity: 0.75;
  font-size: 14px;
  height: 20px;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.attention {
  margin-right: 5px;
}

.stepIcon {
  margin: auto;
  display: flex;
  padding: 10px 0;
  margin-top: 15px;
}

.sliders {
  margin-bottom: 30px;
}
