.disabled {
  border: 1px solid #ececec !important;
  pointer-events: none !important;
}

.textInput {
  box-sizing: border-box;
  height: 40px;
  border: 1px solid white;
  border-radius: 4px;
  width: 100%;
  font-size: 14px;
  padding: 0 15px;
  background: rgba(0, 0, 0, 0.1);
  font-family: CircularBook, sans-serif;
  margin: 10px 0;
  color: white;
}

.textInput:focus {
  border: 1px solid #f93b78;
}

.invalid {
  border: 1px solid #f93b78;
}

.textInput::placeholder {
  opacity: 0.5;
}

.textInput:focus {
  outline: 0;
}
